# Исключаем директории
node_modules
.git
.vscode

# Исключаем временные и служебные файлы
*.log
*.env

# Исключаем файлы сборки и документации
Dockerfile*
*.md

# Исключаем кэш и конфигурации
npm-debug.log
package-lock.json
